<header class='top-page-header'>
  <div class='search-bar-contents'>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='search...'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon" %>
      </button>
    </form>
  </div>
  <div class='nav'>
    <%#ul class='lists-left'><li>
      <li><%= link_to 'レビューを投稿する', reviews_path, class: "movie-list" %></li>
    <%#/ul >
    <ul class='lists-right' %>

      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, "/users/#{current_user.id}", class: "user-nickname" %></li>
        <li><%= link_to 'Post Review', new_review_path, class: "movie-list" %></li>
        <li><%= link_to 'LogOut', destroy_user_session_path, method: :delete, class: "logout" %></li> 
      <% else %>
        <li><%= link_to 'LogIn', new_user_session_path, class: "login" %></li>
        <li><%= link_to 'SignUP', new_user_registration_path, class: "sign-up" %></li>
      <% end %>

    </ul>
  </div>
</header>

<section id="screen1">
  <%= link_to image_tag("movie-logo.png", class:"movie-logo-icon"), "/" %>
  
	<nav>
		 <ul>
   <li><a href="/">Home</a></li>
		 	  <li><a href="#">About</a></li>
		 	  <li><a href="#">Services</a></li>
		 	  <li><a href="#">Genre</a></li>
		 	  <li><a href="#">Review</a></li>
		 </ul>
	</nav>
  <div class='movie-contents'>
    <h2 class='title'>評価が高い映画</h2>
    <div class="subtitle" >
      新規レビュー映画
    </div>
    <ul class='review-lists'>
      <% @reviews.each do |review| %>
        <li class='list'>
          <%= link_to review_path(review.id) do %>
            <div class='review-img-content'>
              <%= image_tag review.image, class: "review-img", size: '185x130' %>
            </div>

            <div class='review-info'>
              <h3 class='review-name'>
                <%= review.title %>
              </h3>
              <div class='review-genre'>
                <span><br><%= review.genre.name %></span>
              </div>
              
              <div class="relative-review-rate">
                <span>評価：</span>
                <span id="star-rate-<%= review.id %>"></span>
                <script>
                  $('#star-rate-<%= review.id %>').raty({
                    size: 36,
                    starOff: "<%= asset_path('star-off.png') %>",
                    starOn: "<%= asset_path('star-on.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    half: true,   
                    readOnly: true,   
                    score: <%= review.rate %>,   
                  });
                </script>
                <%= review.rate %>
              </div>

            </div>
          <% end %>
        </li>
      <% end %>
    </ul>

  </div>




</section>